

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

$blue-color:rgba(24,49,89,.9);
$orange-background-color: #B95628;

@mixin breakpoint($point) {
	@media ('min-width:' + $point) {
		@content;
	}
}

*{
	box-sizing: border-box;
}


.styledSelect {
	width: 100%;
}

.hidden {
	visibility: hidden;
	height: 0px;
	margin: 0px;

}
body {
	background-color: #99CCCC;
	font-family:'Open Sans', sans-serif;
	color: #282525;
	font-size: 1em;
	line-height: 1.5em;
	/*background-image: url(../Images/demi-01.jpg);*/
	/*background-size: contain;*/

	
}


.innerWrapper {
	margin: 0 auto;
	width: 93%;

	/*margin-top: 40px;*/
	/*margin-bottom: 40px;*/


}

.navWrapper {
	margin: 0 auto;
	width: 93%;
	margin-top: 6px;
}

.logo {

	background-image: url('../Images/logogogo.png');
	background-size: 108px 261px;
    margin: 0 auto;
	height:108px ;
	width: 261px;
	display:block;
	background-repeat: no-repeat;
	background-size: contain;
	text-indent: -9999px;
	text-align: center;
	padding:0px;
	margin-bottom: 40px;
	margin-top: 20px;


	/*margin-top: 100px;*/
	/*border: 1px solid #222;*/

	
}
.donate {
	display:block;
	width: 93%;
	margin-left: 3.5%;
	/*margin-right: 1.5%;*/
	height: 50px;
	background-color: #B95628;
	color: #7C371D;
	box-shadow: none;
	text-decoration: none;
	border-style: none;
	font-size: 1.1em;
	font-weight: bold;
	letter-spacing: .05em;
	margin-bottom: 10px;
	text-shadow: 0px 1px 1px #BF5F41;
	box-shadow: 2px 2px 2px #3E4147;
	border-radius: 6px;



background: rgb(181,81,39); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(181,81,39,1) 0%, rgba(181,81,39,1) 49%, rgba(181,81,39,1) 49%, rgba(181,81,39,1) 49%, rgba(132,60,35,1) 50%, rgba(178,71,28,1) 50%, rgba(181,81,39,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(181,81,39,1)), color-stop(49%,rgba(181,81,39,1)), color-stop(49%,rgba(181,81,39,1)), color-stop(49%,rgba(181,81,39,1)), color-stop(50%,rgba(132,60,35,1)), color-stop(50%,rgba(178,71,28,1)), color-stop(100%,rgba(181,81,39,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(181,81,39,1) 0%,rgba(181,81,39,1) 49%,rgba(181,81,39,1) 49%,rgba(181,81,39,1) 49%,rgba(132,60,35,1) 50%,rgba(178,71,28,1) 50%,rgba(181,81,39,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(181,81,39,1) 0%,rgba(181,81,39,1) 49%,rgba(181,81,39,1) 49%,rgba(181,81,39,1) 49%,rgba(132,60,35,1) 50%,rgba(178,71,28,1) 50%,rgba(181,81,39,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(181,81,39,1) 0%,rgba(181,81,39,1) 49%,rgba(181,81,39,1) 49%,rgba(181,81,39,1) 49%,rgba(132,60,35,1) 50%,rgba(178,71,28,1) 50%,rgba(181,81,39,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(181,81,39,1) 0%,rgba(181,81,39,1) 49%,rgba(181,81,39,1) 49%,rgba(181,81,39,1) 49%,rgba(132,60,35,1) 50%,rgba(178,71,28,1) 50%,rgba(181,81,39,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b55127', endColorstr='#b55127',GradientType=0 ); /* IE6-9 */




margin-bottom: 2.5px;
}
.mainNav {
	
	padding:0;
	margin: 0;
	margin-bottom: 20px;

	li {
	background-color: $blue-color;
	height: 50px;
	width: 100%;
	margin: 0 auto;
	list-style: none;
	text-align: center;
	margin-bottom: 4px;
	border-radius: 6px;
	}

	ul {
	padding: 0;
	padding-left: 0;
	width: 100%;
	}

	a {

		text-decoration: none;
	color: #E0DBCE;
	font-size: 1em;
	padding-top: 15px;
	padding-bottom: 7px;
	text-transform: uppercase;
	display:block;
	line-height: 1.2;
	}

}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

.introduction {
	/*background-image: url("../Images/KissingHand.jpg");*/
	background-repeat: no-repeat;
	background-size: contain;

	/*border: 2px solid red;*/
}

.introImage {
	width: 100%;
	margin: 0 auto;

}

.introduction h2{
	position: absolute;
	font-size: 1.2em;
	top: -200px;
	width:44%;
	left: 4%;
	text-align: left;
	color: #E0DBCE;
	font-weight: 400;
	text-shadow: 0px 1px 1px black;
	line-height: 1.5em;


}

.introduction button {
	position: absolute;
	top: -75px;
	left: 4%;
	background-color: $blue-color;
	border:none;
	color: #E0DBCE;
	text-transform: uppercase;
	padding: 7px 7px;
	text-shadow: 0px 1px 1px black;
	border-radius: 6px;
}


h2 {
	font-weight: bold;
	/*text-transform: uppercase;*/
	text-align: center;
	margin: 0px;
	padding: 0px;
}

.cause button {

	background-color: $blue-color;
	border:none;
	color: #E0DBCE;
	text-transform: uppercase;
	padding: 7px 7px;
	text-shadow: 0px 1px 1px black;
	border-radius: 6px;
	width: 50%;
	/*margin-left: 25%;*/
}

.support li {
	background-color: $blue-color;
	/*height: 50px;*/
	width: 100%;
	margin: 0 auto;
	list-style: none;
	text-align: center;
	margin-bottom: 4px;
	border-radius: 6px;
}


.support a {
		text-decoration: none;
	color: #E0DBCE;
	font-size: 1em;
	padding-top: 7px;
	padding-bottom: 7px;
	text-transform: uppercase;
	display:block;
	line-height: 1.2;
}
.support ul {
	margin: 0px;
	padding: 0px;
	margin-bottom: 20px;
}

footer p {
	text-align: center;
}
footer .fa-facebook-official {
	font-size: 4em;
	color: #3a5795;
	text-align: center;
	margin: 0px;
	padding: 0px;
	margin-right: 10px;
}

footer .fa-twitter-square {
	font-size: 4em;
	color: #55adcc;
	text-align: center;
	margin: 0px;
	padding: 0px;
}

.resources {
	background-color: $blue-color;
	border:none;
	color: #E0DBCE;
	text-transform: uppercase;
	padding: 7px 7px;
	text-shadow: 0px 1px 1px black;
	border-radius: 6px;
	width: 50%;
	/*margin-bottom: 10px;*/
}

.support select {
	width: 100%;
	height: 50px;

	margin-bottom: 10px;


}

.box {
	background-color: #aaa;
	border: 1px solid #888;
	padding: 10px;
}


.support p {
		font-size: .8em;
	padding-bottom: 0px;
	margin-bottom: 0px;
	font-style: italic;
	margin-top: 20px;
}

.label1 {
	font-size: .8em;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.label2 {
	font-size: .8em;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.twitter {
background: url("../Images/icon-twitter.svg") no-repeat 0 0;
background-size: 40px 80px;
display: inline-block;
width: 40px;
height: 40px;
text-indent: -9999px;

}

.facebook {
background: url("../Images/icon-facebook.svg") no-repeat 0 0;
background-size: 40px 80px;
display: inline-block;
width: 40px;
height: 40px;
text-indent: -9999px;
}

.bob {
	display:inline;
	list-style: none;
	text-decoration: none;
	text-align: center;
	margin: 0 auto;
	width:100%
}

.bob li {
	display: inline-block;
	text-align: center;
}

@media (min-width: 660px) {
.twitter:hover {
	background-position: 0 -40px;
}

.facebook:hover {
	background-position: 0 -40px;
}
}

.support {
	margin-bottom: 40px;
	display:inline-block;
	width: 100%;
}

.cause {
	margin-bottom: 40px;
	display:inline-block;
}

/*.bob{
list-style: none;
padding: 0;
margin:0;
text-align: center;

}*

/*.bob li {
	display: inline;
}*/



.introduction {
	margin-bottom: 40px;
}

.history p {
	margin-bottom: 20px;
	display:inline-block;
}

form h2 {
	margin-bottom: 20px;
	margin-top: 40px;
}

form {
	margin-bottom: 40px;
}

footer {
	font-size: .8em;
	margin-bottom: 20px;
	margin-left: 3%;
	margin-top: 100px;
}

footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	margin-bottom: 40px;
	line-height: 1.25;
}

footer a{
	text-decoration: none;
	font-weight: bold;
	color: rgb(24,49,89);
	font-size: 1.2em;
}

form {
	text-align: left;
	font-weight: bold;

}

form input {
	width: 100%;
	height: 40px;
	margin-bottom: 15px;
	font-weight: normal;
	font-family: cursive;
	font-size: 1.5em;
	padding-left: 10px;
}

.selector {
	background-color: transparent;

}

.styledSelect select{
	background: transparent;
   width: 100%;
   padding: 10px;
   font-size: 1em;
   line-height: 1.3;
   border: 0;
   border-radius: 0;
   height: 40px;
   -webkit-appearance: none;
}



.styledSelect {
   width:100%;
   height: 40px;
   overflow: hidden;
   background: url("../Images/icon-selectArrow.svg") no-repeat right #ddd;
   background-size: 15px 15px;
  background-position: 95% 12.5px;
   border: 1px solid #ccc;
   margin-bottom: 10px;
   }
.support ul {
	margin-bottom: 0;
}

.introduction {
	position:relative;
}


.give li{
	background-color: $orange-background-color;
}

.give h2 {
	padding-bottom: 20px;
}



@media screen and (min-width: 580px) {
body {
// background-color: #ddd;
}



h2 {
	text-align: left;
}

.leftColumn {
	float:left;
	width: 48%;
	margin-right: 4% !important;
}

.support li {
	margin-bottom: 10px;
}

.rightColumn {
	float: left;
	width: 48%;
}

.columnLeft {
	float:left;
	width: 48%;
	margin-right: 4% !important;
}

.columnRight {
	float: left;
	width: 48%;
}

.resources {
	width: 48%;
}



.cause button {
	width: 48%;
}

.mainNav li {
	width: 25%;
	float: left;
	border-radius: 0;
	margin-bottom: 0;
}

/*.mainNav li:first-child {
	border-radius: 6px 0px 0px 6px;
}*/

/*.mainNav li:last-child {
	border-radius: 0px 6px 6px 0px;
}*/

.navWrapper {
	width: 100%;
}

.donate {

	
	
	width: 100px;
	position: absolute;
	top: 0px;
	right: 8%;
	height: 110px;
	background: #B95628;
	border-radius: 0px 0px 6px 6px;
}


.logo {
	text-align:left;
	margin: 0;
	margin-left: 3%;
	
}


.introduction button {
top: -100px;
font-size: 1.3em;
padding: 10px;

}

.introduction h2 {
top: -300px;
font-size: 1.8em;
}

.give{
	margin-bottom: 40px;
	li {
	width: 48%;
	float:left;}
	li:first-child {
	margin-right: 4%;
	}
	display:inline-block;
}


.give li:nth-child(3) {
	margin-right: 4%;
}



.history{
	margin-top: 0px;
}


.left {
	float: left;
	width: 48%;
	margin-right: 4%;
}

.right {
	float: left;
	width: 48%;

	button {
	width: 100%;
	}
}

.left button {
	width: 100%;
}

.styledSelect {
	width: 100%;
}



.support {
	width: 100%;
}



}

@media screen and (min-width: 960px) {
	body {
		// background-color: pink;
	}
.rightColumn{
	float: left;
	clear:left;
	width: 100%;
}

.donate {
	width: 120px;
	height: 120px;
}


.right {
	float:left;
	clear:left;
	width: 100%;
}

.support {
	width:100%;
	display: inline-block;
	float:left;
	clear: left;
}


.left {
	float:left;
	clear:left;
	width: 100%;
}

.leftColumn {
	width: 100%;
}


.give {
	float:left;
	width: 100%;
	display: inline-block;

	li {
	width: 100%;
	}
}



.cause {
	width: 100%;
	display:inline-block;
	float:left;
}

.history {
	float:left;
	clear:left;
	display: inline-block;
	width: 100%;
	margin-top:0px;
}

form {
	float:left;
}

.bigColumn1 {
	display:inline-block;
	float:left;
	// border: 2px solid green;
	width: 48%;
	margin-right: 4%;

}

.bigColumn2 {
	display: inline-block;
	float:left;
	// border: 2px solid red;
	width: 48%;
}
}


body {
	@media (min-width: 1024px) {
	margin: 0 auto;
	max-width: 1100px;
	}
}



form {
	@media (min-width: 960px) {
		margin: 0 auto;
		width: 100%;

	input {
		width: 100%;
	}
	label {
		width: 100%;
	}	
	}

.history {
	@media (min-width: 660px) {
	margin-top: 0px;	
	}
}

}


.bob li:first-child {
	margin-right: 7px;
}


